<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="dist/app.css">
  <title>Dischi</title>
</head>
<body>
  <div id="app">

    <!-- HEADER -->
    <header>
      <select v-model="selection">
        <option v-for="genere in generi" :value="genere">{{genere}}</option>
      </select>
    </header>

    <!-- MAIN -->
    <main>
      <div class="container">
        <div class="all-cd">

          <div class="cd" v-for="album in albums" v-if="selection == 'All' || selection == album.genre">
              <div class="cover">
                <img :src="album.poster" alt="{{album.title}}">
              </div>
              <h3>{{album.title}}</h3>
              <span class="author">{{album.author}}</span>
              <span class="year">{{album.year}}</span>
          </div>

        </div>

      </div>

    </main>
  </div>
  <script src="src/app.js" charset="utf-8"></script>
</body>
</html>
