.all-cd{
  padding: 100px 0;
  @include flexCenter;
  .cd{
    @include flexCol;
    width: 200px;
    padding: 25px;
    .cover{
      width: 100%;
       img{
        width: 100%;
      }
    }
    h3{
      text-align: center;
    }
  }
}
