@mixin flex{
  display: flex;
}

@mixin flexCol{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
